<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>By</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <% if article.user %>
        <td><%= link_to article.user.username, user_path(article.user) %></td>
      <% end %>
      <%= if article.categories.any? %>
        <%= render article.categories %>
      <% end %>
      <td>
        <a href="<%= article_path(article) %>">Show</a>
      </td>
      <% if logged_in? and (article.user == current_user || current_user.admin?) %>
        <td>
          <a href="<%= edit_article_path(article) %>">Edit</a>
        </td>
        <td>
          <%= button_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>