<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Details</title>
</head>
<body>
<h1><%= @user.username %> profile</h1>
<br>
<%= gravatar_for @user, size: 200 %>
<br>
<p><%= link_to 'Edit your profile', edit_user_path(@user) %></p>
<h3>Articles</h3>
<%= will_paginate @articles %>
<%= render 'articles/article' %>
</body>
</html>