<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Details</title>
</head>
<body>
<h1><%= @user.username %> profile</h1>
<br>
<% if logged_in? %>
  <p>
    <%= button_to 'Logout', logout_path, method: :delete %>
  </p>
<% end %>

<br>
<%= gravatar_for @user, size: 200 %>
<br>
<% if logged_in? and @user == current_user %>
  <p><%= link_to 'Edit your profile', edit_user_path(@user) %></p>
<% end %>
<h3>Articles</h3>
<%= will_paginate @articles %>
<%= render 'articles/article' %>
</body>
</html>