<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
</head>
<body>
<h1>This is the home page</h1>
<p>
  <%= link_to 'Return to articles listing', users_path %>
</p>
<p>
  <%= link_to 'Articles listing', articles_path %>
</p>

<p>
  <%= link_to 'About page', about_path %>
</p>
<p>
  <%= link_to 'Login', login_path %>
</p>
<p>
  <%= link_to 'Sign up', signup_path %>
</p>
</body>
</html>